:root
{
    --blue: rgb(63, 63, 178);
    --green: rgb(0, 186, 0);
    --red: rgb(143, 0, 0);
    --yellow: rgb(199, 213, 0);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    align-items: center;
    background: radial-gradient(var(--green), var(--blue));
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.display
{
    align-items: center;
    background: aliceblue;
    color: var(--green);
    display: flex;
    font-size: 3.2em;
    font-weight: bold;
    height: 1.5em;
    justify-content: center;
    margin-bottom: 10px;
    width: 27vw;
}

.numbers
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    width: 28vw;
}

.numbers__btn
{
    aspect-ratio: 1/1;
    align-items: center;
    background: var(--yellow);
    border: 0.1em solid aliceblue;
    color: aliceblue;
    display: flex;
    font-size: 3.6em;
    font-weight: bold;
    justify-content: center;
    margin: 4px;
}

.numbers__btn:hover
{
    background: var(--blue);
    cursor: pointer;
}

.numbers__btn--hash:hover
{
    background-color: var(--red);
}

.numbers__btn--c:hover
{
    background-color: var(--red);
}

.win
{
    font-size: 500px;
    position: absolute;
    transform: translateY(200%);
}

.loose
{
    font-size: 500px;
    position: absolute;
    transform: translateY(200%);
}

.moveit
{
    animation: moveIt 9s ease-in-out;
}

@media (max-width: 1000px)
{
    .display
    {
        height: 2em;
        width: 93vw;
    }
    .numbers
    {
        width: 95vw;
    }
}
@media (max-width: 1000px) and (orientation: landscape)
{
    .display
    {
        font-size: 1.6em;
        width: 27vw;
    }   
    .numbers
    {
        width: 28vw;
    } 
    .numbers__btn
    {
        font-size: 2.6em;
    }
}

@keyframes moveIt
{
    0% 
    {
        transform: translateY(200%);
    }
    50% 
    {
        transform: translateY(0%);
    }
    100%
    {
        transform: translateY(200%);
    }
}